<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring creates a BookService bean with id "bookService" -->
    <!-- We can then ask Spring: ctx.getBean("bookService", BookService.class) -->
    <bean id="bookService" class="com.cognizant.library.BookService" />

</beans>
